.ant-modal-header {
  text-align: center;
  background: lightblue !important;
}

body > div:nth-child(7) > div > div.ant-modal-wrap > div {
  width: 650px !important;
}

@media only screen and (max-width: 600px) {
  #root
    > div
    > div
    > div
    > section
    > section
    > main
    > div
    > div
    > div:nth-child(2)
    > div
    > div.ant-col.ant-col-sm-22.ant-col-md-16.ant-col-lg-16
    > div:nth-child(1),
  #root
    > div
    > div
    > div
    > section
    > section
    > main
    > div
    > div
    > div:nth-child(2)
    > div
    > div.ant-col.ant-col-sm-22.ant-col-md-16.ant-col-lg-16
    > div:nth-child(2) {
    flex-flow: column;
  }

  #root
    > div
    > div
    > div
    > section
    > section
    > main
    > div
    > div
    > div:nth-child(2)
    > div
    > div.ant-col.ant-col-sm-22.ant-col-md-16.ant-col-lg-16
    > div:nth-child(1)
    > div:nth-child(1),
  #root
    > div
    > div
    > div
    > section
    > section
    > main
    > div
    > div
    > div:nth-child(2)
    > div
    > div.ant-col.ant-col-sm-22.ant-col-md-16.ant-col-lg-16
    > div:nth-child(1)
    > div:nth-child(2),
  #root
    > div
    > div
    > div
    > section
    > section
    > main
    > div
    > div
    > div:nth-child(2)
    > div
    > div.ant-col.ant-col-sm-22.ant-col-md-16.ant-col-lg-16
    > div:nth-child(2)
    > div:nth-child(1),
  #root
    > div
    > div
    > div
    > section
    > section
    > main
    > div
    > div
    > div:nth-child(2)
    > div
    > div.ant-col.ant-col-sm-22.ant-col-md-16.ant-col-lg-16
    > div:nth-child(2)
    > div:nth-child(2) {
    width: 100% !important;
  }

  #root
    > div
    > div
    > div
    > section
    > section
    > main
    > div
    > div
    > div:nth-child(2)
    > div
    > div.ant-col.ant-col-sm-22.ant-col-md-16.ant-col-lg-16 {
    margin-left: 0px !important;
  }
}

.avatarName {
  padding: 7px 12px;
  margin: 10px auto;
  border-radius: 5px;
  max-width: 150px;
  text-align: center;
  color: #fff;
}

/* avatar image hover overlay starts */
.avatarImageContainer {
  margin: 20px auto;
  padding: 12px;
  border-radius: 5px;
  text-align: center;
}

.HoverOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
  border-radius: 5px;
}

.avatarImage {
  position: relative;
  cursor: pointer;
}

.avatarImage:hover .HoverOverlay {
  display: block;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}

.HoverOverlayBtn {
  position: absolute;
  right: 20px;
  top: 10px;
  text-align: right;
  opacity: 0;
  transition: opacity 0.35s ease;
}

.avatarImage:hover .HoverOverlayBtn {
  opacity: 1;
}

/* avatar image hoveroverlay ends */

/* background  hoveroverlay starts */
.avatarBackground {
  position: relative;
  cursor: pointer;
}

.HoverBgOverlayBtn {
  position: absolute;
  right: 20px;
  top: 10px;
  text-align: right;
  /* opacity: 0; */
  transition: opacity 0.35s ease;
}

.avatarBackground:hover .HoverBgOverlayBtn {
  opacity: 1;
}

/* background hover overlay ends */
