@import "~antd/dist/antd.css";

.App {
  text-align: center;
}

.header {
  background-color: #fff;
  display: flex;
}

/* 
.sider {
  overflow: "auto";
  height: "100vh";
  position: "fixed";
  left: 0;
} */

/* .container {
  width: 100%;
  display: flex;
  align-self: center;
  margin: auto;
} */

/* .login-form-iAug {
  width: 200px;
  height: 600px;

  position: absolute; /*it can be fixed too*
/* left: 0;
right: 0;
top: 0;
bottom: 0;
margin: auto; */

/*this to solve "the content will not be cut when the window is smaller than the content": */
/* max-width: 100%;
  max-height: 100%;
  overflow: auto; */
/* } */
.center {
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 500px;
  min-height: 500px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  /* margin: auto; */
}
